<div class="container">
  <div class="content" (window:scroll)="onScroll()">
    <mat-form-field>
      <mat-label>Rechercher un Pokémon</mat-label>
      <input matInput [matAutocomplete]="auto" [(ngModel)]="selectedPokemon" placeholder="Filter a pokémon from the list">
      <button matSuffix mat-icon-button aria-label="Clear" (click)="clearInput($event)">
        <mat-icon>cancel</mat-icon>
      </button>
      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" (optionSelected)="onOptionSelected($event)">
        @for (poke of allPokemonList; track poke) {
          @if (poke.name.includes(selectedPokemon.toLowerCase())) {
            <mat-option [value]="poke.name">
              {{poke.name}}
            </mat-option>
          }
        }
      </mat-autocomplete>
    </mat-form-field>
    @if ( selectedPokemon === '') {
      @for (pokemon of pokemonList; track pokemon) {
        <mat-card class="poke-card pulse"
          [ngStyle]="{ 'background': getColorForType(pokemon.types[0].type.name) }"
          (click)="pokeModal(pokemon)">
          <mat-card-header>
            <mat-card-title-group>
              <mat-card-title class="pokemon-name"> {{ upperFirstLetter(pokemon.name) }} </mat-card-title>
              <img [src]="pokemon.sprites.front_default" alt="Image du pokémon {{pokemon.name}}">
            </mat-card-title-group>
          </mat-card-header>
          <mat-card-content>
            <span></span>
            <div class="poke-number">
              <span> # {{ pokemon.id }}</span>
            </div>
          </mat-card-content>
        </mat-card>
      }
    }
    @else {
      @for (pokemon of filteredPokemonList; track pokemon) {
        <mat-card class="poke-card pulse"
          [ngStyle]="{ 'background': getColorForType(pokemon.types[0].type.name) }"
          (click)="pokeModal(pokemon)">
          <mat-card-header>
            <mat-card-title-group>
              <mat-card-title class="pokemon-name"> {{ upperFirstLetter(pokemon.name) }} </mat-card-title>
              <img [src]="pokemon.sprites.front_default" alt="Image du pokémon {{pokemon.name}}">
            </mat-card-title-group>
          </mat-card-header>
          <mat-card-content>
            <span></span>
            <div class="poke-number">
              <span> # {{ pokemon.id }}</span>
            </div>
          </mat-card-content>
        </mat-card>
      }
    }
  </div>
</div>